* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.top-header {
  padding-top: 70px;
  padding-bottom: 190px;
  background-color: #f4f5f7;
}

.container {
  max-width: 1140px;
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
}
.navbar a {
  text-decoration: none;
}
.navbar-logo {
  font-size: 20px;
  font-weight: 700;
  color: #95989a;
}

.socials a {
  margin-left: 20px;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-text {
  width: 50%;
  color: #32325f;
}

.main-image {
  width: 50%;
  margin-top: 160px;
}
.main-image img {
  width: 100%;
}

.subtitle {
  margin-top: 160px;
  font-size: 20px;
  font-weight: 400;
  display: block;
  margin-bottom: 15px;
}

.title {
  font-size: 48px;
  font-weight: 700;
  color: #32325f;
  margin: 0;
}

.desc {
  font-size: 20px;
  font-weight: 400;
  color: #32325f;
  line-height: 26px;
  margin-top: 27px;
  margin-bottom: 0;
}

.price-tag {
  display: block;
  font-size: 20px;
  font-weight: 400;
  color: #32325f;
  margin-top: 16px;
}

.price {
  font-size: 48px;
  font-weight: 400;
  color: #525f7f;
  margin-bottom: 71px;
  display: block;
}

.btn {
  text-decoration: none;
  color: #fff;
  font-style: 20px;
  font-weight: 700;
  padding: 20px 30px;
  box-shadow: 0 3px 6px rgba(173, 173, 173, 0.16);
  border-radius: 6px;
  margin-right: 30px;
}

.green {
  background-color: #2dce89;
}

.blue {
  background-color: #5e72e4;
}

.about {
  padding-bottom: 100px;
}
.about-subheadline {
  font-size: 20px;
  font-weight: 400;
  display: block;
  margin-top: 60px;
}
.about-headline {
  font-size: 48px;
  font-weight: 700;
  color: #32325f;
  margin-top: 15px;
  margin-bottom: 100px;
}

.about-wrap {
  display: flex;
}

.about-item {
  width: 25%;
  margin-left: 10px;
  color: #32325f;
}
.about-item span {
  display: block;
}
.about-item img {
  margin-bottom: 40px;
}

.people {
  background-color: #f4f5f7;
  padding-bottom: 104px;
}

.people-subheadline {
  padding-top: 90px;
  display: block;
  font-size: 20px;
  font-weight: 400;
  color: #32325f;
}

.people-headline {
  margin-top: 15px;
  margin-bottom: 65px;
  display: block;
  font-size: 48px;
  font-weight: 700;
  color: #32325f;
}

.people-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.people-item {
  width: 32%;
  margin-bottom: 30px;
}

.people-item img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.footer {
  background-color: #32325f;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
}

.footer-header {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  margin-top: 78px;
}

.footer-name {
  color: #ffffff;
  margin: auto;
}

.footer-block {
  width: 33%;
  padding-bottom: 104px;
}

.footer-link {
  color: #ffffff;
  text-decoration: none;
  display: block;
}

@media (max-width: 1024px) {
  .buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .buttons .btn {
    text-align: center;
    width: 270px;
    margin-bottom: 15px;
  }
  .top-header {
    padding-bottom: 50px;
  }
}
@media (max-width: 768px) {
  .main-image {
    width: 100%;
  }
  .main-text {
    width: 100%;
    order: 1;
  }
  .main {
    flex-direction: column;
  }
  .subtitle {
    margin-top: 50px;
  }
  .about-wrap {
    flex-wrap: wrap;
    display: flex;
  }
  .about-item {
    width: 48%;
    margin-bottom: 15px;
  }
  .people-item {
    width: 48%;
  }
  .footer-wrap {
    flex-wrap: wrap;
  }
  .footer-block {
    width: 50%;
    padding-bottom: 20px;
  }
}
@media (max-width: 580px) {
  .about-item {
    width: 100%;
    margin-bottom: 10px;
  }
  .footer-block {
    width: 100%;
    padding-bottom: 20px;
  }
}/*# sourceMappingURL=Style.css.map */